<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{Username}}</h3>
    </div>
    <div class="panel-body">
        <img src="/images/avatars/teddy.jpg" alt="Employee Avatar" class="avatar">
        <h1 id="current-date"></h1>
        {% if not enable_start_button %}<p>Läuft seit {{start_time}}</p>{% endif %}
        <form action="/time_entry/" method="post">
            <label for="currentDateTime">Uhrzeit</label><br>
            <input name="event_time" id="currentDateTime" type="text" class="form-control time-input"
                   placeholder="Enter Time" value="{{currentLocalTime}}">

            <input type="text" class="form-control" placeholder="Notizen" name="note" id="note" value="{{note}}"><br>

            <input type="hidden" name="current_date" value="{{current_date}}">
            <input type="hidden" name="current_date_pretty" value="{{current_date_pretty}}">

            <button type="submit" name="event_type" value="start" class="btn btn-success btn-block"{% if not enable_start_button %} disabled{% endif %}>Start</button>
            <button type="submit" name="event_type" value="stop" class="btn btn-danger btn-block"{% if enable_start_button %} disabled{% endif %}>Ende</button>
        </form>
    </div>
</div>
